.inptd {
    width: 225px;
    height: 51px;
}
.edit {
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
    width: 55px;
    border-bottom-left-radius: 0em;
    border-top-left-radius: 0em;
    border-bottom-right-radius: 0em;
    border-top-right-radius: 0em;
}
.save {
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
    width: 55px;
    border-bottom-right-radius: 0em;
    border-top-right-radius: 0em;
}

.del {
    padding-right: 0px;
    padding-left: 0px;
	background-color: #F10808;
	border-color: #F15454;
    margin: 0px;
    width: 55px;
    border-bottom-left-radius: 0em;
    border-top-left-radius: 0em;
}
.del:hover {
    background-color: #B80C0C;
    border-color: #560d0d;
}
.add {
    text-align: right;
    margin-right: 50px;
/*    background-color: #50e147;
    border-color: #68a152;*/
}/*
.add:hover {
    background-color: #68a152;
    border-color: #3a5132;
}*/